## Importing libraries

In [1]:
import numpy as np
import matplotlib.pyplot as plt
import pandas as pd

## Importing our data set

In [2]:
dataset=pd.read_csv('50_Startups.csv')
X=dataset.iloc[:, :-1].values 
y=dataset.iloc[:,4].values
display(dataset)
display(pd.DataFrame(X))
display(pd.DataFrame(y))

    R&D Spend  Administration  Marketing Spend       State     Profit
0   165349.20       136897.80        471784.10    New York  192261.83
1   162597.70       151377.59        443898.53  California  191792.06
2   153441.51       101145.55        407934.54     Florida  191050.39
3   144372.41       118671.85        383199.62    New York  182901.99
4   142107.34        91391.77        366168.42     Florida  166187.94
5   131876.90        99814.71        362861.36    New York  156991.12
6   134615.46       147198.87        127716.82  California  156122.51
7   130298.13       145530.06        323876.68     Florida  155752.60
8   120542.52       148718.95        311613.29    New York  152211.77
9   123334.88       108679.17        304981.62  California  149759.96
10  101913.08       110594.11        229160.95     Florida  146121.95
11  100671.96        91790.61        249744.55  California  144259.40
12   93863.75       127320.38        249839.44     Florida  141585.52
13   91992.39       135495.07        252664.93  California  134307.35
14  119943.24       156547.42        256512.92     Florida  132602.65
15  114523.61       122616.84        261776.23    New York  129917.04
16   78013.11       121597.55        264346.06  California  126992.93
17   94657.16       145077.58        282574.31    New York  125370.37
18   91749.16       114175.79        294919.57     Florida  124266.90
19   86419.70       153514.11             0.00    New York  122776.86
20   76253.86       113867.30        298664.47  California  118474.03
21   78389.47       153773.43        299737.29    New York  111313.02
22   73994.56       122782.75        303319.26     Florida  110352.25
23   67532.53       105751.03        304768.73     Florida  108733.99
24   77044.01        99281.34        140574.81    New York  108552.04
25   64664.71       139553.16        137962.62  California  107404.34
26   75328.87       144135.98        134050.07     Florida  105733.54
27   72107.60       127864.55        353183.81    New York  105008.31
28   66051.52       182645.56        118148.20     Florida  103282.38
29   65605.48       153032.06        107138.38    New York  101004.64
30   61994.48       115641.28         91131.24     Florida   99937.59
31   61136.38       152701.92         88218.23    New York   97483.56
32   63408.86       129219.61         46085.25  California   97427.84
33   55493.95       103057.49        214634.81     Florida   96778.92
34   46426.07       157693.92        210797.67  California   96712.80
35   46014.02        85047.44        205517.64    New York   96479.51
36   28663.76       127056.21        201126.82     Florida   90708.19
37   44069.95        51283.14        197029.42  California   89949.14
38   20229.59        65947.93        185265.10    New York   81229.06
39   38558.51        82982.09        174999.30  California   81005.76
40   28754.33       118546.05        172795.67  California   78239.91
41   27892.92        84710.77        164470.71     Florida   77798.83
42   23640.93        96189.63        148001.11  California   71498.49
43   15505.73       127382.30         35534.17    New York   69758.98
44   22177.74       154806.14         28334.72  California   65200.33
45    1000.23       124153.04          1903.93    New York   64926.08
46    1315.46       115816.21        297114.46     Florida   49490.75
47       0.00       135426.92             0.00  California   42559.73
48     542.05        51743.15             0.00    New York   35673.41
49       0.00       116983.80         45173.06  California   14681.40

          0        1        2           3
0    165349   136898   471784    New York
1    162598   151378   443899  California
2    153442   101146   407935     Florida
3    144372   118672   383200    New York
4    142107  91391.8   366168     Florida
5    131877  99814.7   362861    New York
6    134615   147199   127717  California
7    130298   145530   323877     Florida
8    120543   148719   311613    New York
9    123335   108679   304982  California
10   101913   110594   229161     Florida
11   100672  91790.6   249745  California
12  93863.8   127320   249839     Florida
13  91992.4   135495   252665  California
14   119943   156547   256513     Florida
15   114524   122617   261776    New York
16  78013.1   121598   264346  California
17  94657.2   145078   282574    New York
18  91749.2   114176   294920     Florida
19  86419.7   153514        0    New York
20  76253.9   113867   298664  California
21  78389.5   153773   299737    New York
22  73994.6   122783   303319     Florida
23  67532.5   105751   304769     Florida
24    77044  99281.3   140575    New York
25  64664.7   139553   137963  California
26  75328.9   144136   134050     Florida
27  72107.6   127865   353184    New York
28  66051.5   182646   118148     Florida
29  65605.5   153032   107138    New York
30  61994.5   115641  91131.2     Florida
31  61136.4   152702  88218.2    New York
32  63408.9   129220  46085.2  California
33  55493.9   103057   214635     Florida
34  46426.1   157694   210798  California
35    46014  85047.4   205518    New York
36  28663.8   127056   201127     Florida
37  44069.9  51283.1   197029  California
38  20229.6  65947.9   185265    New York
39  38558.5  82982.1   174999  California
40  28754.3   118546   172796  California
41  27892.9  84710.8   164471     Florida
42  23640.9  96189.6   148001  California
43  15505.7   127382  35534.2    New York
44  22177.7   154806  28334.7  California
45  1000.23   124153  1903.93    New York
46  1315.46   115816   297114     Florida
47        0   135427        0  California
48   542.05  51743.2        0    New York
49        0   116984  45173.1  California

            0
0   192261.83
1   191792.06
2   191050.39
3   182901.99
4   166187.94
5   156991.12
6   156122.51
7   155752.60
8   152211.77
9   149759.96
10  146121.95
11  144259.40
12  141585.52
13  134307.35
14  132602.65
15  129917.04
16  126992.93
17  125370.37
18  124266.90
19  122776.86
20  118474.03
21  111313.02
22  110352.25
23  108733.99
24  108552.04
25  107404.34
26  105733.54
27  105008.31
28  103282.38
29  101004.64
30   99937.59
31   97483.56
32   97427.84
33   96778.92
34   96712.80
35   96479.51
36   90708.19
37   89949.14
38   81229.06
39   81005.76
40   78239.91
41   77798.83
42   71498.49
43   69758.98
44   65200.33
45   64926.08
46   49490.75
47   42559.73
48   35673.41
49   14681.40

## Encoding Categorial Data

In [3]:
from sklearn.preprocessing import OneHotEncoder
from sklearn.compose import ColumnTransformer
# sklearn new format for one hot encoding check the medium website in the book marks
columnTransformer = ColumnTransformer([('encoder', OneHotEncoder(), [3])], remainder='passthrough')
X=np.array(columnTransformer.fit_transform(X), dtype = np.float)
display(pd.DataFrame(X))

      0    1    2          3          4          5
0   0.0  0.0  1.0  165349.20  136897.80  471784.10
1   1.0  0.0  0.0  162597.70  151377.59  443898.53
2   0.0  1.0  0.0  153441.51  101145.55  407934.54
3   0.0  0.0  1.0  144372.41  118671.85  383199.62
4   0.0  1.0  0.0  142107.34   91391.77  366168.42
5   0.0  0.0  1.0  131876.90   99814.71  362861.36
6   1.0  0.0  0.0  134615.46  147198.87  127716.82
7   0.0  1.0  0.0  130298.13  145530.06  323876.68
8   0.0  0.0  1.0  120542.52  148718.95  311613.29
9   1.0  0.0  0.0  123334.88  108679.17  304981.62
10  0.0  1.0  0.0  101913.08  110594.11  229160.95
11  1.0  0.0  0.0  100671.96   91790.61  249744.55
12  0.0  1.0  0.0   93863.75  127320.38  249839.44
13  1.0  0.0  0.0   91992.39  135495.07  252664.93
14  0.0  1.0  0.0  119943.24  156547.42  256512.92
15  0.0  0.0  1.0  114523.61  122616.84  261776.23
16  1.0  0.0  0.0   78013.11  121597.55  264346.06
17  0.0  0.0  1.0   94657.16  145077.58  282574.31
18  0.0  1.0  0.0   91749.16  114175.79  294919.57
19  0.0  0.0  1.0   86419.70  153514.11       0.00
20  1.0  0.0  0.0   76253.86  113867.30  298664.47
21  0.0  0.0  1.0   78389.47  153773.43  299737.29
22  0.0  1.0  0.0   73994.56  122782.75  303319.26
23  0.0  1.0  0.0   67532.53  105751.03  304768.73
24  0.0  0.0  1.0   77044.01   99281.34  140574.81
25  1.0  0.0  0.0   64664.71  139553.16  137962.62
26  0.0  1.0  0.0   75328.87  144135.98  134050.07
27  0.0  0.0  1.0   72107.60  127864.55  353183.81
28  0.0  1.0  0.0   66051.52  182645.56  118148.20
29  0.0  0.0  1.0   65605.48  153032.06  107138.38
30  0.0  1.0  0.0   61994.48  115641.28   91131.24
31  0.0  0.0  1.0   61136.38  152701.92   88218.23
32  1.0  0.0  0.0   63408.86  129219.61   46085.25
33  0.0  1.0  0.0   55493.95  103057.49  214634.81
34  1.0  0.0  0.0   46426.07  157693.92  210797.67
35  0.0  0.0  1.0   46014.02   85047.44  205517.64
36  0.0  1.0  0.0   28663.76  127056.21  201126.82
37  1.0  0.0  0.0   44069.95   51283.14  197029.42
38  0.0  0.0  1.0   20229.59   65947.93  185265.10
39  1.0  0.0  0.0   38558.51   82982.09  174999.30
40  1.0  0.0  0.0   28754.33  118546.05  172795.67
41  0.0  1.0  0.0   27892.92   84710.77  164470.71
42  1.0  0.0  0.0   23640.93   96189.63  148001.11
43  0.0  0.0  1.0   15505.73  127382.30   35534.17
44  1.0  0.0  0.0   22177.74  154806.14   28334.72
45  0.0  0.0  1.0    1000.23  124153.04    1903.93
46  0.0  1.0  0.0    1315.46  115816.21  297114.46
47  1.0  0.0  0.0       0.00  135426.92       0.00
48  0.0  0.0  1.0     542.05   51743.15       0.00
49  1.0  0.0  0.0       0.00  116983.80   45173.06

## Avoiding the dummy variable trap

In [4]:
X=X[:,1:] # the library will take care of it but we will leave it to remind our selves
display(pd.DataFrame(X))

      0    1          2          3          4
0   0.0  1.0  165349.20  136897.80  471784.10
1   0.0  0.0  162597.70  151377.59  443898.53
2   1.0  0.0  153441.51  101145.55  407934.54
3   0.0  1.0  144372.41  118671.85  383199.62
4   1.0  0.0  142107.34   91391.77  366168.42
5   0.0  1.0  131876.90   99814.71  362861.36
6   0.0  0.0  134615.46  147198.87  127716.82
7   1.0  0.0  130298.13  145530.06  323876.68
8   0.0  1.0  120542.52  148718.95  311613.29
9   0.0  0.0  123334.88  108679.17  304981.62
10  1.0  0.0  101913.08  110594.11  229160.95
11  0.0  0.0  100671.96   91790.61  249744.55
12  1.0  0.0   93863.75  127320.38  249839.44
13  0.0  0.0   91992.39  135495.07  252664.93
14  1.0  0.0  119943.24  156547.42  256512.92
15  0.0  1.0  114523.61  122616.84  261776.23
16  0.0  0.0   78013.11  121597.55  264346.06
17  0.0  1.0   94657.16  145077.58  282574.31
18  1.0  0.0   91749.16  114175.79  294919.57
19  0.0  1.0   86419.70  153514.11       0.00
20  0.0  0.0   76253.86  113867.30  298664.47
21  0.0  1.0   78389.47  153773.43  299737.29
22  1.0  0.0   73994.56  122782.75  303319.26
23  1.0  0.0   67532.53  105751.03  304768.73
24  0.0  1.0   77044.01   99281.34  140574.81
25  0.0  0.0   64664.71  139553.16  137962.62
26  1.0  0.0   75328.87  144135.98  134050.07
27  0.0  1.0   72107.60  127864.55  353183.81
28  1.0  0.0   66051.52  182645.56  118148.20
29  0.0  1.0   65605.48  153032.06  107138.38
30  1.0  0.0   61994.48  115641.28   91131.24
31  0.0  1.0   61136.38  152701.92   88218.23
32  0.0  0.0   63408.86  129219.61   46085.25
33  1.0  0.0   55493.95  103057.49  214634.81
34  0.0  0.0   46426.07  157693.92  210797.67
35  0.0  1.0   46014.02   85047.44  205517.64
36  1.0  0.0   28663.76  127056.21  201126.82
37  0.0  0.0   44069.95   51283.14  197029.42
38  0.0  1.0   20229.59   65947.93  185265.10
39  0.0  0.0   38558.51   82982.09  174999.30
40  0.0  0.0   28754.33  118546.05  172795.67
41  1.0  0.0   27892.92   84710.77  164470.71
42  0.0  0.0   23640.93   96189.63  148001.11
43  0.0  1.0   15505.73  127382.30   35534.17
44  0.0  0.0   22177.74  154806.14   28334.72
45  0.0  1.0    1000.23  124153.04    1903.93
46  1.0  0.0    1315.46  115816.21  297114.46
47  0.0  0.0       0.00  135426.92       0.00
48  0.0  1.0     542.05   51743.15       0.00
49  0.0  0.0       0.00  116983.80   45173.06

## Splitting the dataset into the Training set and Test set

In [5]:
from sklearn.model_selection import train_test_split
X_train, X_test, y_train, y_test = train_test_split(X, y, test_size = 0.2, random_state = 0)
display(pd.DataFrame(X_train))
display(pd.DataFrame(y_train))
display(pd.DataFrame(X_test))
display(pd.DataFrame(y_test))

      0    1          2          3          4
0   1.0  0.0   55493.95  103057.49  214634.81
1   0.0  1.0   46014.02   85047.44  205517.64
2   1.0  0.0   75328.87  144135.98  134050.07
3   0.0  0.0   46426.07  157693.92  210797.67
4   1.0  0.0   91749.16  114175.79  294919.57
5   1.0  0.0  130298.13  145530.06  323876.68
6   1.0  0.0  119943.24  156547.42  256512.92
7   0.0  1.0    1000.23  124153.04    1903.93
8   0.0  1.0     542.05   51743.15       0.00
9   0.0  1.0   65605.48  153032.06  107138.38
10  0.0  1.0  114523.61  122616.84  261776.23
11  1.0  0.0   61994.48  115641.28   91131.24
12  0.0  0.0   63408.86  129219.61   46085.25
13  0.0  0.0   78013.11  121597.55  264346.06
14  0.0  0.0   23640.93   96189.63  148001.11
15  0.0  0.0   76253.86  113867.30  298664.47
16  0.0  1.0   15505.73  127382.30   35534.17
17  0.0  1.0  120542.52  148718.95  311613.29
18  0.0  0.0   91992.39  135495.07  252664.93
19  0.0  0.0   64664.71  139553.16  137962.62
20  0.0  1.0  131876.90   99814.71  362861.36
21  0.0  1.0   94657.16  145077.58  282574.31
22  0.0  0.0   28754.33  118546.05  172795.67
23  0.0  0.0       0.00  116983.80   45173.06
24  0.0  0.0  162597.70  151377.59  443898.53
25  1.0  0.0   93863.75  127320.38  249839.44
26  0.0  0.0   44069.95   51283.14  197029.42
27  0.0  1.0   77044.01   99281.34  140574.81
28  0.0  0.0  134615.46  147198.87  127716.82
29  1.0  0.0   67532.53  105751.03  304768.73
30  1.0  0.0   28663.76  127056.21  201126.82
31  0.0  1.0   78389.47  153773.43  299737.29
32  0.0  1.0   86419.70  153514.11       0.00
33  0.0  0.0  123334.88  108679.17  304981.62
34  0.0  0.0   38558.51   82982.09  174999.30
35  1.0  0.0    1315.46  115816.21  297114.46
36  0.0  1.0  144372.41  118671.85  383199.62
37  0.0  1.0  165349.20  136897.80  471784.10
38  0.0  0.0       0.00  135426.92       0.00
39  0.0  0.0   22177.74  154806.14   28334.72

            0
0    96778.92
1    96479.51
2   105733.54
3    96712.80
4   124266.90
5   155752.60
6   132602.65
7    64926.08
8    35673.41
9   101004.64
10  129917.04
11   99937.59
12   97427.84
13  126992.93
14   71498.49
15  118474.03
16   69758.98
17  152211.77
18  134307.35
19  107404.34
20  156991.12
21  125370.37
22   78239.91
23   14681.40
24  191792.06
25  141585.52
26   89949.14
27  108552.04
28  156122.51
29  108733.99
30   90708.19
31  111313.02
32  122776.86
33  149759.96
34   81005.76
35   49490.75
36  182901.99
37  192261.83
38   42559.73
39   65200.33

     0    1          2          3          4
0  1.0  0.0   66051.52  182645.56  118148.20
1  0.0  0.0  100671.96   91790.61  249744.55
2  1.0  0.0  101913.08  110594.11  229160.95
3  1.0  0.0   27892.92   84710.77  164470.71
4  1.0  0.0  153441.51  101145.55  407934.54
5  0.0  1.0   72107.60  127864.55  353183.81
6  0.0  1.0   20229.59   65947.93  185265.10
7  0.0  1.0   61136.38  152701.92   88218.23
8  1.0  0.0   73994.56  122782.75  303319.26
9  1.0  0.0  142107.34   91391.77  366168.42

           0
0  103282.38
1  144259.40
2  146121.95
3   77798.83
4  191050.39
5  105008.31
6   81229.06
7   97483.56
8  110352.25
9  166187.94

## Feature Scalling

In [6]:
# we don't need to apply feature scalling in multiple linear regression cause the library will do it for us
# so we are ready

## Fitting Multiple linear regression to our training set

In [7]:
from sklearn.linear_model import LinearRegression
regressor=LinearRegression()
regressor.fit(X_train,y_train)

LinearRegression(copy_X=True, fit_intercept=True, n_jobs=None, normalize=False)

## Predicting the test set results

In [8]:
y_pred=regressor.predict(X_test)
display(pd.DataFrame(y_pred))

               0
0  103015.201598
1  132582.277608
2  132447.738452
3   71976.098513
4  178537.482211
5  116161.242302
6   67851.692097
7   98791.733747
8  113969.435330
9  167921.065696

## Building The optimal model using back elimination

In [9]:
import statsmodels.api as sm
# adding x0=1 cause sm library won't included 
X=np.append(arr=np.ones((X.shape[0],1)).astype(int),values=X,axis=1)
X_opt=X[:,[0,1,2,3,4,5]]
regressor_OLS=sm.OLS(y,X_opt).fit()
regressor_OLS.summary()

# do back elimnation by removing the feature variable with the highest p-value
X_opt=X[:,[0,1,3,4,5]]
regressor_OLS=sm.OLS(y,X_opt).fit()
regressor_OLS.summary()

# do back elimnation by removing the feature variable with the highest p-value
X_opt=X[:,[0,3,4,5]]
regressor_OLS=sm.OLS(y,X_opt).fit()
regressor_OLS.summary()

# do back elimnation by removing the feature variable with the highest p-value
X_opt=X[:,[0,3,4,5]]
regressor_OLS=sm.OLS(y,X_opt).fit()
regressor_OLS.summary()

# do back elimnation by removing the feature variable with the highest p-value
X_opt=X[:,[0,3,5]]
regressor_OLS=sm.OLS(y,X_opt).fit()
regressor_OLS.summary()

# do back elimnation by removing the feature variable with the highest p-value
X_opt=X[:,[0,3]]
regressor_OLS=sm.OLS(y,X_opt).fit()
regressor_OLS.summary()

<class 'statsmodels.iolib.summary.Summary'>
"""
                            OLS Regression Results
==============================================================================
Dep. Variable:                      y   R-squared:                       0.947
Model:                            OLS   Adj. R-squared:                  0.945
Method:                 Least Squares   F-statistic:                     849.8
Date:                Sun, 08 Mar 2020   Prob (F-statistic):           3.50e-32
Time:                        20:36:23   Log-Likelihood:                -527.44
No. Observations:                  50   AIC:                             1059.
Df Residuals:                      48   BIC:                             1063.
Df Model:                           1
Covariance Type:            nonrobust
==============================================================================
                 coef    std err          t      P>|t|      [0.025      0.975]
------------------------------------------------------------------------------
const       4.903e+04   2537.897     19.320      0.000    4.39e+04    5.41e+04
x1             0.8543      0.029     29.151      0.000       0.795       0.913
==============================================================================
Omnibus:                       13.727   Durbin-Watson:                   1.116
Prob(Omnibus):                  0.001   Jarque-Bera (JB):               18.536
Skew:                          -0.911   Prob(JB):                     9.44e-05
Kurtosis:                       5.361   Cond. No.                     1.65e+05
==============================================================================

Warnings:
[1] Standard Errors assume that the covariance matrix of the errors is correctly specified.
[2] The condition number is large, 1.65e+05. This might indicate that there are
strong multicollinearity or other numerical problems.
"""

## doing the backwardElimination generally not with hand

In [10]:
# doing the backwardElimination generally not with hand 
def backwardElimination(X, sl):
    features=len(X[0])
    for i in range(0,features):
        regressor_OLS=sm.OLS(y,X).fit()
        maxi=max(regressor_OLS.pvalues).astype(float)
        if maxi>sl:
            for j in range(0,features-i):
                if (regressor_OLS.pvalues[j].astype(float)==maxi):
                    X=np.delete(X,j,1)
    regressor_OLS.summary()
    return X

X_opt=backwardElimination(X,0.05)
display(pd.DataFrame(X_opt))

      0          1
0   1.0  165349.20
1   1.0  162597.70
2   1.0  153441.51
3   1.0  144372.41
4   1.0  142107.34
5   1.0  131876.90
6   1.0  134615.46
7   1.0  130298.13
8   1.0  120542.52
9   1.0  123334.88
10  1.0  101913.08
11  1.0  100671.96
12  1.0   93863.75
13  1.0   91992.39
14  1.0  119943.24
15  1.0  114523.61
16  1.0   78013.11
17  1.0   94657.16
18  1.0   91749.16
19  1.0   86419.70
20  1.0   76253.86
21  1.0   78389.47
22  1.0   73994.56
23  1.0   67532.53
24  1.0   77044.01
25  1.0   64664.71
26  1.0   75328.87
27  1.0   72107.60
28  1.0   66051.52
29  1.0   65605.48
30  1.0   61994.48
31  1.0   61136.38
32  1.0   63408.86
33  1.0   55493.95
34  1.0   46426.07
35  1.0   46014.02
36  1.0   28663.76
37  1.0   44069.95
38  1.0   20229.59
39  1.0   38558.51
40  1.0   28754.33
41  1.0   27892.92
42  1.0   23640.93
43  1.0   15505.73
44  1.0   22177.74
45  1.0    1000.23
46  1.0    1315.46
47  1.0       0.00
48  1.0     542.05
49  1.0       0.00